<div class="row">
	<div class="col-4 offset-4">
		<div id="login-wrapper">
			<h2 class="text-center">Log in</h2>
			<% if flash[:alert] %>
				<p class="alert alert-danger"> <%= flash[:alert] %> </p>
			<% end %>
			<%= form_with url: login_path, data: {"parsley-validate": ''} ,local: true do |f| %>
				<%= f.label :email %>
				<%= f.email_field :email, required: true, value: params[:email], placeholder: 'example@email.com', autofocus: true, class: 'form-control' %>
				<%= f.label :password %>
				<%= f.password_field :password, required: true, placeholder: raw("&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;&bull;"), class: 'form-control' %>
				<%= f.hidden_field :redirect_url, value: params[:redirect_url] %>
				<%= f.submit "Go", class: 'btn btn-primary btn-raised login-button' %>
			<% end %>
			<%= link_to "Create Account", new_user_path %>
		</div>
	</div>
</div>