<div class="post">

<div class="card text-center">
  <div class="card-header">
    <%= post.caption %> 
  </div>
  <div class="card-body">
    <h5 class="card-title"> </h5>
    <p class="card-text"> <%= post.content %> </p>
    <% if all %>
      <%= link_to "Contribute", post, class: "btn btn-primary" %>
    <% else %>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
        Leave a Comment
      </button>
    <% end %>
  </div>
  <div class="card-footer text-muted">
    <% if current_user %>
      by You
			<%= link_to "Edit Post", edit_post_path(post.id), class: "btn btn-primary" %>
      <%= link_to "Delete Post", post_path(post.id), method: :delete, class: "btn btn-danger" %>
      <% else %>
    by <%= post.user.username %>
    <% end %>
  </div>
</div>