	
<%= form_with model: model, local: true do |f| %>
	<% if model.class.name == 'Post' %>	
		<div class="form-group">
			<%= f.text_field :caption, placeholder: 'What are you building?', class: 'form-control' %>
		</div>
		<div class="form-group">
			<%= f.text_field :picture, placeholder: 'Add a Picture URL', class: 'form-control' %>
		</div>
		<% else %>
		<div class="form-group">
			<%= f.hidden_field :post_id, value: @post.id %>
		</div>
	<% end %>
		<div class="form-group">
			<%= f.text_area :content, placeholder: "Say some stuff.", class: 'form-control' %>
		</div>
	<%= f.submit class: "btn btn-primary" %>
<% end %>
