<h1>Recent Posts</h1>
<%= link_to "New Post", new_post_path %>
<div class="posts">
	<%= @posts.each do |post| %>
		<div class="post">
			<%= post.user.username %>
			<%= post.content %>
			<%= post.caption %>
		</div>
	<% end %>
</div>